<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="forside">
    <header class="logo">
        <img style="width:400px;" src="https://res.cloudinary.com/diseksamen/image/upload/v1762247788/event_pictures/6a1afe10abd8717b8d6a864a873d910b/fucamcuswdckensicup9.png">
    </header>
    <h1>Velkommen til ReLive!</h1>
    <p>ReLive giver dig mulighed for at dele og se billeder fra dine events!</p>
    <form id="eventForm">
        <input type="text" placeholder="Indtast din eventkode her" id="eventCodeInput" value="<%= eventid || '' %>" required>
        <input type="email" placeholder="Indtast din email" id="emailInput" required>
        <input type="password" placeholder="Indtast pinkode" id="pinCodeInput">
        <button class="button" type="submit" id="goToEventButton">Gå til billeder for event</button>
    </form>
</body>
<script type="module">
    document.querySelector('#eventForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Forhindre standard form submission
        const eventCode = document.querySelector('#eventCodeInput').value.trim();
        const email = document.querySelector('#emailInput').value.trim();
        const pinCode = document.querySelector('#pinCodeInput').value.trim();
        if(eventCode && email && pinCode) {
            //login
            try {
                const response = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: email, pinCode: pinCode, eventId: eventCode })
                });
                if (!response.ok) {
                    alert('Login mislykkedes. Tjek dine oplysninger og prøv igen.');
                    return;
                }
            } catch (error) {
                console.error('Fejl under login:', error);
                alert('Der opstod en fejl under login. Prøv igen senere.');
                return;
            }
            // Omdiriger til pictures siden med den indtastede eventkode
            window.location.href = '/pictures/' + encodeURIComponent(eventCode);
        } else {
            alert('Indtast en gyldig eventkode, email og pinkode.');
        }
    });
</script>
</html>