<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<a class="button" id="uploadLink">Upload billeder fra eventet</a>
<div id="eventpictures" class="row">
</div>

<script>
// Hent eventid fra URL'en . url er /pictures/:eventid
const urlParts = window.location.pathname.split('/');
const eventId = urlParts[urlParts.length - 1];
document.querySelector('#uploadLink').href = '/upload/' + eventId;

// Fetch pictures from server and display them
fetch('/api/pictures/' + eventId)  
  .then(response => {
    if (response.status === 401) {
      alert('Du skal logge ind for at se billederne for dette event.');
      window.location.href = '/prefill/' + eventId;
      return;
    }
    return response.json();
  })
  .then(data => {
    const container = document.querySelector('#eventpictures');
    data.pictures.forEach(url => {
        // Create a div class column and img inside it
        const columnDiv = document.createElement('div');
        columnDiv.className = 'column';
        const img = document.createElement('img');
        img.src = url;
        img.style.width = '100%';
        columnDiv.appendChild(img);
        container.appendChild(columnDiv);
    });
  })
  .catch(error => console.error('Error fetching pictures:', error));
</script>
</body>
</html>